@charset "UTF-8";
.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
body {
  background-color: white;
  font-size: 20px;
  color: black;
}

.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
.navinicio, .navcocina, .navliving, .navjardin, .navnosotros, .navcontacto, .navcomollegar {
  margin: 0 25px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-out;
}

.navinicio:hover, .navcocina:hover, .navliving:hover, .navjardin:hover,
.navnosotros:hover, .navcontacto:hover, .navcomollegar:hover, .navredes:hover {
  transform: scale(1.1);
}

a {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  color: white;
}

.navredes {
  color: rgba(255, 255, 255, 0.479);
  font-size: 30px;
}

.iconsocial {
  margin-right: 5%;
}

.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
.menu {
  background-color: black;
  position: sticky;
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 5px;
  z-index: 10;
}

.contenedor-grid {
  margin: 0.1% auto;
  padding: 0%;
}

.divh2 {
  padding: 0%;
  margin: 0%;
}

.main1img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.h2diseño {
  background-color: #212529;
  font-family: "Syncopate", sans-serif;
  color: #f0f03b;
  margin: 0%;
}

.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
.infoMail .infoWp .infoComoLlegar {
  display: block;
  border: 1px solid black;
  margin: 5px 0;
}

.iconinformacion {
  border: 1px solid rgba(224, 193, 151, 0.849);
  right: 2px;
  bottom: 2px;
  font-size: 150%;
  color: black;
}

h2 {
  color: black;
  font-family: sans-serif;
  font-size: 48px;
  word-wrap: break-word;
}

.contenedorfm {
  margin-bottom: 25px;
}

.contenedor1 {
  border: 5px solid black;
  margin: 0 auto;
  width: 300px;
  height: 400px;
}

.fotomain {
  width: 70%;
  border-radius: 100%;
  padding: 5%;
  border: 10px solid #212529;
  display: block;
  margin: auto;
}

.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
.formulario {
  width: 70%;
  background-color: rgba(224, 193, 151, 0.849);
  padding: 50px;
  margin: 3% 0 0px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
}

.formulario1 {
  display: flex;
  flex-direction: column;
}

.contenedorform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-row input[type=text],
.form-row input[type=email] {
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  margin-bottom: 1%;
  font-size: 16px;
}

.form-row textarea {
  resize: none;
  width: 100%;
}

label {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
}

.mailywp {
  font-size: 80%;
  text-align: center;
  padding: 10%;
}

.icon-mail-wp {
  font-size: 200%;
  text-align: center;
}

.linkmap {
  text-decoration: none;
  color: black;
}

.iconlink {
  font-size: 150%;
  display: flex;
  justify-content: center;
}

.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
p {
  margin: 15px 0;
  text-align: center;
  font-size: 100%;
  color: black;
  font-family: sans-serif;
}

.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
.section1, .boton {
  display: flex;
  justify-content: center;
}

.iconinformacion {
  margin: 0 auto;
}

.ptop {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mtop {
  margin-top: 20%;
}

.mtop2 {
  margin-top: 5%;
}

.mbot {
  margin-bottom: 10%;
  border-bottom: 1px solid black;
}

.pint {
  border: 5px solid rgba(248, 231, 207, 0.849);
}

@media (max-width: 1412px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 570px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  p {
    font-size: 15px;
  }
}
.boton {
  color: white;
  background-color: #212529;
  width: 15%;
  border-radius: 5%;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.boton:hover {
  transform: scale(1.1);
  color: white;
  background-color: #212529;
}

.fotojard1 {
  width: 70%;
  display: block;
  margin: auto;
}

.fotopark {
  width: 100%;
}

.ul1 {
  display: flex;
  justify-content: space-around;
}

.imgsection {
  display: block;
  margin: auto;
}

.imgsection1 {
  width: 100%;
  display: block;
  margin: auto;
}

.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.j5 {
  display: block;
}

/*# sourceMappingURL=style.css.map */
