@import '../variables';

.log{
    @extend %display-flex;
    width: 130px; height: 100%;
} 

.divlog {
    @extend %display-flex;}

    
.menu {
  
    background-color: $c1;
    position: sticky;
    top: 0px;
    bottom: 0px;
    left: 5px;
    right: 5px;
    z-index: 10;
}


.fotomain {
    width: 70%;
    border-radius: 100%;
    padding: 5%;
    border: 10px solid  $c4 ;
    display:block;
    margin:auto;
    
}

.contenedor1{
    border: 5px solid  $c1 ;
    margin: 0 auto;
    width: 300px;
    height: 400px;
      
}

.contenedorfm{
    margin-bottom: 25px;
}
