@import '../variables';

.infoMail .infoWp .infoComoLlegar {
    display: block;
    border: 1px solid $c1;
    margin: 5px 0;
}

.iconinformacion {
    border: 1px solid $c3;
    right: 2px;
    bottom: 2px;
    font-size: 150%;
    color: $c1;
    @extend %margin-center;

}

h2 {
    color: $c1;
    font-family: sans-serif;
    font-size: 48px;
    word-wrap: break-word;
}


.contenedorfm{
    margin-bottom: 25px;
}

.contenedor1{
    border: 5px solid  $c1 ;
    margin: 0 auto;
    width: 300px;
    height: 400px;
      
}

.fotomain {
    width: 70%;
    border-radius: 100%;
    padding: 5%;
    border: 10px solid  $c4 ;
    display:block;
    margin:auto;
    
}