@import '../variables';

.boton {
    font-size: 150%;
    color: $c2;
    background-color: $c4;
    @extend %display-flex;
    width: 15%;
    border-radius: 5%;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
    text-decoration: none;

}

.section1 {
    @extend %display-flex;
}



.boton:hover {
    transform: scale(1.1);
    color: $c2;
    background-color: $c4;

}

.fotojard1 {
    width: 70%;
    float: right;
    margin-right: 0%;
}

.fotopark {
    width: 100%;
    border-radius: 100%;
    
}

.ul1{
    display: flex;
    justify-content: space-around;
}

.imgsection{
    width: 50%;
    display: block;
    margin:auto;
}

.imgsection1{
    width: 100%;
    display: block;
    margin:auto;
}



.p1{
    display: flex;
    justify-content: center;
   align-items: center;
}